* {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --platinum: #e5e4e2;
  --black: #080808;
  --eerie-black: #160c28;
  --straw: #ece471;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  background-color: var(--eerie-black);
  color: var(--platinum);
  padding: 0 5% 0 5%;
}
/* target all links and set their*/
a {
  color: var(--platinum);
}
a:hover,
a:focus,
a:active {
  color: var(--eerie-black);
  background-color: var(--platinum);
  border-radius: 2px;
}

/* Header and Navigation Styles --- */

/* target default bootstrap classes to style hover, focus, and active link states */
.nav-link:hover,
.nav-link:focus,
.nav-link:active,
.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:active {
  color: var(--platinum);
  background-color: var(--eerie-black);
  outline: solid 2px var(--platinum);
  border-radius: 2px;
}
.current-page {
  color: var(--platinum);
  outline: solid 2px var(--platinum);
  border-radius: 2px;
}

/* adds decorative border to bottom of navbar */
.primary-ul {
  border-bottom: solid 2px var(--platinum);
}

/* target the navbar mobile menu toggler */
.navbar a {
  color: var(--platinum);
  outline-color: var(--platinum);
  margin-bottom: 5%;
}

/* target the mobile menu toggler icon, builds on the fontawesome class */
.fa-bars {
  color: var(--platinum);
}

/* social media icon styles --- */
.social-link {
  color: var(--platinum);
  padding: 0.7% 0.3% 0% 0.3%;
}
.social-link:hover,
.social-link:focus,
.social-link:active {
  color: var(--eerie-black);
  background-color: var(--platinum);
  border-radius: 2px;
}

/* utility classes -- */

/*hides elements on mobile */
.mobile-hide {
  display: none;
}
/* utiity class for rounding element borders */
.rounded {
  border-radius: 2px;
  outline: solid 2px var(--platinum);
}

/* adds padding to top of sections, beyond what bootstrap provides */
.section-padding {
  padding-top: 4%;
  padding-bottom: 6%;
}
.footer-fixed {
  position: absolute;
  bottom: 0;
}

/* project page styles --- */
button {
  unset: all; /* removes default button styles */
  color: var(--platinum);
}

/* target the read more button for the project page*/
.read-more-btn,
.form-btn {
  color: var(--platinum);
  border: solid 2px var(--platinum);
  background-color: var(--eerie-black);
  padding: 0.5% 1% 0.5% 1%;
}
.read-more-btn:hover,
.read-more-btn:focus,
.read-more-btn:active,
.form-btn:hover,
.form-btn:focus,
.form-btn:active {
  color: var(--eerie-black);
  background-color: var(--platinum);
  border-radius: 2px;
}

.project-content {
  display: none;
}

/* contact page styles --- */
.input-field,
.textarea {
  display: block;
  width: 100%;
  background-color: var(--eerie-black);
  color: var(--platinum);
}

@media screen and (min-width: 1600px) {
  /*show elements on larger devices that were previously hidden */
  .mobile-hide {
    display: block;
  }
}
